@import "gh-fork-ribbon";

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3)
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    // h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    // a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    // a, a:active, a:visited, code.url { color: $accent; }
    // h1,h2,h3,h4,h5,h6 {color:$accent}
}
html {
  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)
  // @include accentize(green);
}
// .dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

* {
  margin: 0;
  padding: 0;
}

.cf:before,
.cf:after { content: " "; /* 1 */ display: table; /* 2 */ }
.cf:after { clear: both; }
.cf { *zoom: 1; }

body {
  font: 14px monospace;
}

header {
  display: table;
  background-color: $base03;
  position: fixed;
  width: 100%;
  h1, h2 {
    font-size: 1rem;
    font-weight: normal;
    color: $blue;
    padding: 0.5rem;
    display: inline-block;
  }
  #channel-name, #date-switcher, #info {
    display: table-cell;
    width: 33.3%;
  }
  #date-switcher {
    text-align: center;
    a {
      display: inline-block;
      padding: 0.5rem;
      &.enabled {
        &:hover {
          cursor: pointer;
          background-color: $base02;
        }
      }
      &.disabled {
        color: $base03;
      }
    }
  }
}

main {
  padding-top: 45px;
  padding-bottom: 1rem;
  .message {
    display: table;
    time, .from, .text {
      display: table-cell;
      padding: 0.1rem 0.5rem;
    }
    .from {
      width: 100px;
      border-right: 1px solid $base0;
      text-align: right;
    }
    .text {
      text-align: left;
    }
  }
}

.color-1 { color: $yellow}
.color-2 { color: $green}
.color-3 { color: $red}
.color-4 { color: $magenta}
.color-5 { color: $violet}
.color-6 { color: $blue}
.color-7 { color: $cyan}
.color-8 { color: $green}
.color-9 { color: $violet}

@media screen and (max-width: 768px) {
  .github-fork-ribbon-wrapper { display: none; }
}
