<main class="index">
  <p>
    Welcome to Waves! Please open channel URLs directly, like for example:
  </p>
  <p>
    <a href="/logs/irc.libera.chat/kosmos/today">https://waves.kosmos.org/logs/irc.libera.chat/kosmos/today</a>
  </p>
</main>
